<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>category</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openCart()">
        <ion-badge *ngIf="cart.length > 0">{{cart.length}}</ion-badge>
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div class="card" *ngFor="let product of catalog.items; let i = index">
      <!-- <ion-buttons (click)="openProduct(i)"> -->
        <div (click)="openProduct(i)">
        <img src={{product.imgPath}}>
      
      <h2>{{product.name}}</h2>
      
    </div>
    <button (click)="addToCart(product)">Купити</button>
    </div>
  </div>


</ion-content>