.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }
.card{
    box-shadow: 3px 3px 3px 3px rgb(192, 189, 189);
    padding: 5px;
    margin: 5px;
    text-align: center;
}
