<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" ></ion-back-button>
    </ion-buttons>
    <ion-title>My Cart</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
    <ion-list>
      <ion-item *ngFor="let item of selectedItems;let i = index" lines="inset">
        {{ item.count }}x {{ item.name }} - {{ item.price | currency:'USD':'symbol' }}
        <ion-label slot="end" text-right>{{ (item.price * item.count) | currency:'USD':'symbol' }}</ion-label>
        <ion-buttons slot="end">
            <ion-button (click)="delItem(i)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </ion-buttons>
      </ion-item>
      <ion-item>
        Total: <span slot="end">{{ total | currency:'USD':'symbol' }}</span>
      </ion-item>
    </ion-list>
  </ion-content>