<ion-header>
  <ion-toolbar>
    <ion-title>
      Магазин
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openCart()">
        <ion-badge *ngIf="cart.length > 0">{{cart.length}}</ion-badge>
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let cat of products; let i = index">
    <ion-buttons (click)="openCategory(i)">
    <ion-label color="tertiary" padding>{{cat.name}}</ion-label>
      <!-- <ion-icon slot="icon-only" name="add"></ion-icon> -->
    </ion-buttons>

    <div class="scrolling-wrapper">
      <div class="card" *ngFor="let product of cat.items"><img src={{product.imgPath}}>
        <h2>{{product.name}}</h2><button (click)="addToCart(product)">Купити</button>
      </div>

    </div>
  </div>
</ion-content>
