.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
    .card {
      display: inline-block;
      margin: 10px;
      padding: 5px;
      background-color: #1e2023;
      color: #f4f5f8;
      border-radius: 1em 1em 1em 1em;
      text-align: center;
    }
  }
  .scrolling-wrapper {
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
}

