<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/category" ></ion-back-button>
        </ion-buttons>
    <ion-title>product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="product">
    <img src={{product.imgPath}}>
    <h2>{{product.name}}</h2><button (click)="addToCart(product)">Купити</button>
  </div>
</ion-content>
